body{background-image: url("img/back.jpg");} 
#container{
	position: relative;
	left: 5%;
	width: 90%;
	
}
td {
	width: 80px;
	height: 60px
}
img{
	
	height: 60px
}
table :hover {
	border: 2px solid red}

#second > table > tbody > tr > td:hover{
background-image: url("mernik.gif")
}
#second{
	position: absolute;
	top: 0px;
	right: 0px;
	
}
#second p{display: none}

.result p {
	width: 90px;
	display: inline-block;
}

.result{
	width: 181px;
	margin: 0 auto;
}
